.header {
    margin-top: 4px;  
}

.menu {
    display: flex;
    align-items: center;
    border-bottom: 1px solid silver;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menu__link {
    width: 90px;
    font-size: large;
    display: block;
    text-align: center;
    line-height: 70px;
    padding: 0 15px;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.4s;
    color: white;
}

.logo {
    display: block;
    background: url("https://vincent.billey.me/talks/react-putting-js-in-your-face/assets/react-logo.png") no-repeat 50% -5px;
    background-size: contain;
    width: 80px;
    height: 70px;
    transition-duration: 0.4s;
}

.logo:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.menu__link:hover {
    box-shadow: 0px -4px 0px 0px rgb(67, 195, 245);
    color: rgb(67, 195, 245);
}

.menu > li {
    flex-shrink: 0;
}

.menu > li:nth-child(5) { 
    margin-left: auto;
}

.menu > li:last-child {
    margin-right: 20px;
}

.menu > li:first-child {
    flex-shrink: 1;
}

.menu__activeLink {
    box-shadow: 0px -4px 0px 0px rgb(67, 195, 245);
    color: rgb(67, 195, 245);
}

 .menu__submenu {
    max-height: 0;
    opacity: 0;
    margin: 0px;
    padding: 0px;
    position: absolute;
    list-style: none;
    overflow: hidden;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    top: 74px;
    transition: 0.4s;
    font-size: 20px;
}

.menu__submenu > li {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid silver;
    text-align: center;
    padding: 0 10px;
    background-color: black;
}

.menu__submenu > li:first-child {
    border-top: 1px solid silver;
}

.menu > li:hover > .menu__submenu {
    opacity: 1;
    max-height: inherit;
}

.submenu__link {
    text-decoration: none;
    color: white;
    transition-duration: 0.4s;
}

.submenu__link:hover {
    color: rgb(67, 195, 245);
}

.menu__searchInput {
    transition-duration: 0.6s; 
    display: block;
}

.menu__searchInput__active {
    opacity: 1;
    display: block;
}

.menu__searchInput__hidden {
    opacity: 0;
    display: none;
}

.menu__searchIcon {
   cursor: pointer;
   transition-duration: 0.4s;
}

.menu__searchIcon:hover {
    transform: scale(1.1);
}
.menu__searchIcon__hidden {
    display: none;
   /*position: absolute;
   left: -50px;
   top: 30px;
   display: none;*/
}