.content-filmGrid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 

.content > h3 {
    text-align: center;
    color: white;
}

.content-description {
    height: 150px; 
    border: 1px solid red;
    text-align: center;
    line-height: 150px;
    color: white;
}
